{% extends "base.html" %}

{% block about %}
class="current"
{% endblock %}

{% block content %}
<div class="post">
    <div id="thumb">
        <img src="http://www.cheddarcode.com/g/img/avatar.jpg">
        <div id="caption">Hi there!
        </div>
    </div>
    <p>My name is Gabe Miller and I'm interested in web development, databases, machine learning, GIS, and many other things. I'm a software engineer at <a href="http://www.theresumator.com">The Resumator</a>. I enjoy fiddling with computer programming projects in my free time.</p>
    <p>My most recent personal work is written in Python and Node.js. I also have experience with PHP, client-side JavaScript, Ruby, and Bash. I'm very open to learning new tools and languages--currently I'm interested in learning Go.</p>
    <p>I live in Pittsburgh, Pennsylvania.</p>
    <p>You can follow my commits on <a href="http://www.github.com/gmiller2007/">github</a> as well read about some of the ideas going into my projects on this very website.</p>
    <p>If you wish to contact me, you can reach me in the following places:</p>
    <ul>
        <li>
            <i>email(preferred)</i>
            <img src="#" height="16" width="300">
        </li>
        <li>
            <a href="#">Google Plus</a>
        </li>
    </ul>
</div>
{% endblock %}
