{% extends "base.html" %}

{% block content %}
<div class="post">
    <div class="thumb">
        <img src="http://www.cheddarcode.com/g/img/avatar.jpg">
        <div class="caption">Hi there!
        </div>
    </div>
    <p>My name is Gabe Miller. I'm interested in web development, databases, machine learning, GIS, and many other software topics. I'm a software engineer at <a href="http://www.theresumator.com">The Resumator</a>. In my free time I enjoy fiddling with computer programming projects, partaking in endurance sports, traveling, learning spoken/written languages, looking at silly pictures on the internet, and playing with my cats.</p>
    <p>My most recent personal projects are written in Python and Node.js, my two current favorite programming languages/platforms. I also have experience with PHP, client-side JavaScript, Ruby, and Bash. I'm very open to learning new tools and languages--currently I'm interested in learning Go.</p>
    <p>I currently live in Pittsburgh, Pennsylvania.</p>
    <p>You can follow my code contributions on <a href="http://www.github.com/gmiller2007/">github</a> as well read about some of the ideas going into my projects on this very website.</p>
    <p>If you wish to contact me, you can reach me in the following places:</p>
    <ul>
        <li>
            <img src="http://localhost/~gabe/chddrcd/hello.png" style="margin-top:12px;">
        </li>
        <li>
            <a href="https://plus.google.com/110146363451638405094">Google Plus</a>
        </li>
    </ul>
</div>
{% endblock %}
