<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" href="http://www.cheddarcode.com/g/favicon.ico">
    <script type="text/javascript" src="http://www.cheddarcode.com/media/js/shCore.js"></script>  
    <script type="text/javascript" src="http://www.cheddarcode.com/media/js/shBrushPython.js"></script>  
    <script type="text/javascript">SyntaxHighlighter.all();</script>  
    <link type="text/css" rel="stylesheet" href="http://www.cheddarcode.com/media/css/shCoreDefault.css"/>  
    <link rel="stylesheet" type="text/css" href="http://www.cheddarcode.com/g/css/blog.css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
	<title>L. Gabriel Miller</title>
</head>
<body>

<div id="pagewrapper">
<section id="header">
	<p id="title">L. Gabriel Miller</p>
	<nav id="navigation">
		<ul><li {%block about%}{%endblock%}class="about"><a href="http://www.cheddarcode.com/g">About</a></li>
			<li {%block blog%}{%endblock%}class="blog"><a href="http://www.cheddarcode.com/g/blog">Blog</a></li>
			<li {%block portfolio%}{%endblock%} class="portfolio"><a href="http://www.cheddarcode.com/g/portfolio">Portfolio</a></li>
			<li  {%block resume%}{%endblock%}class="resume"><a href="http://www.cheddarcode.com/g/resume">Resume</a></li>
			<li  {%block contact%}{%endblock%}class="contact"><a href="http://www.cheddarcode.com/g/contact">Contact</a></li>
		</ul>
	</nav>
</section>
<div id="contents">
    <div id="leftcontainer">
	    <div id="main{%block blog2%}{%endblock%}">

                {% block content %}

                {% endblock %}

        </div>
    </div>

{% block sidebar %}
<div>
{% endblock %}

<div class="clear"></div>
</div>
<div id="pagefooter">2012 L. Gabriel Miller</div>
</body>
</html>
