<!doctype html>
<html>
<head>
    <link rel="icon" href="http://www.cheddarcode.com/g/favicon.ico">
    <script type="text/javascript" src="http://www.cheddarcode.com/g/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.cheddarcode.com/g/css/blog.css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
    {% block includes %}
    {% endblock %}
	<title>L. Gabriel Miller</title>
    <script type="text/javascript">
    /*
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35235361-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    */
    </script>
</head>
<body>

<div id="pagewrapper">
<section id="header">
	<p id="title"><a href="/">L. Gabriel Miller</a></p>
	<nav id="navigation">
		<ul>
            <!--
            <li class="blog{%if page == "blog" %} current{%endif%}"><a href="/">Blog</a></li>
            -->
            <li class="archive{%if page == "archive" %} current{%endif%}"><a href="/archive">Archive</a></li>
            <li class="projects{%if page == "projects" %} current{%endif%}"><a href="/projects">Projects</a></li>
            <li class="abouts{%if page == "about" %} current{%endif%}"><a href="/about">About</a></li>
		</ul>
	</nav>
</section>

{% block sidebar %}
{% endblock %}

<div id="contents">
    {% block content %}
    {% endblock %}
</div>
<div id="footer_spacer"></div>
<div id="footer">2012 L. Gabriel Miller</div>
</body>
</html>
