{% extends "base.html" %}

{% block about %}
class="current"
{% endblock %}

{% block content %}

<article class="post">
<header>
<div id="thumb">
    <img src="http://www.cheddarcode.com/g/img/avatar.jpg">
    <div id="caption">Hi there!
    </div>
</div>
</header>
<p>My name's Gabe. I'm interested in computer programming, particularly related to web development, databases, and statistics. On this site you'll be able to read about my computer interests along with any questions and answers I have.</p>

<p>I used to be a Geographic Information Systems(GIS) Technician. I worked with maps, spatial data, databases, and a lot of excel spreadsheets. After several months I realized that I enjoyed programming and most things website-related so I pursued software development as a career path.</p>

<p>I'm currently employed by Hireku, the company that wrote and supports <a href="http://www.theresumator.com">The Resumator</a>. You should check us out, especially if you're a business and the hiring process bothers you! We're a rapidly growing startup with an awesome company culture.</p>

<p>I've always considered myself a computer nerd. Initially when I began using computers I was interested in video games. Arguably it started with <em>The Last Ninja</em> and <em>Zany Golf</em> on an Apple IIGS. Later, the game <em>Everquest</em> consumed many days of my teen years. After far too many late nights of computer games I graduated from that phase of my life. But I never graduated from my interest in computers and the internet.</p>

<p>I dabbled with programming Python and PHP before college with a high school website and my curiosity, but never delved too deeply into coding. I began learning Python in earnest in college when I was learning to use ESRI's GIS software. I realized that learning Python had more potential than just expanding my GIS skills; I saw it as a personal interest as well as a career path. Open source languages and software had always appealed to me because of their widespread adoption, especially on web platforms, but I had never made a point to scratch much deeper than the surface.</p>

<p>I've been learning open source technologies which I've come to find extremely valuable. I consider myself an up and coming Linux user and my skill-set is pointed toward web technologies; I've worked with Python, PHP, JavaScript, HTML, CSS, MySQL, Postgres, node.js, and mongoDB. Further, at work I regularly write and debug PHP code and MySQL queries and work with HTML, Javascript, and CSS. On my own time I've taken to learning about more cutting edge projects that use node.js and Python. In the future I'd like to learn more Math and build fun and interesting applications.</p>

<p>On my blog you'll find more recent activity on my adventures. You can also follow my projects at <a href="http://www.github.com/gmiller2007">github.com/gmiller2007</a>. Thanks for reading!</p>

</article>
{% endblock %}
