{% extends "base.html" %}

{% block about %}
class="current"
{% endblock %}

{% block content %}

<article class="post">
<header>
<div id="thumb">
    <img src="http://www.cheddarcode.com/g/img/avatar.jpg">
    <div id="caption">Hi there!
    </div>
</div>
</header>
<p>My name's Gabe. I'm learning computer programming, particularly related to web development and databases. On this site you'll be able to read about my computer interests along with any questions and answers I have.</p>
<p>By day I'm a Geographic Information Systems(GIS) Technician. I work with maps, spatial data, databases, and a lot of excel spreadsheets. By night I work on web development projects. My goal is to find myself a career in web development and/or software development.</p>
<p>I've always considered myself a computer nerd. Initially when I began using computers I was interested in video games. The game <em>Everquest</em> consumed many days of my teen years. After far too many late nights of computer games I graduated that phase of my life; I now see gaming as a casual hobby or way to socialize with friends instead of a lifestyle. Meanwhile my interest in computers and the internet has not been dampened.</p>
<p>I began learning Python when I was learning to use ESRI's GIS software. I realized that learning Python had more potential than just expanding my GIS skills. I saw it as a personal interest as well as a career path. Open source languages and software had always appealed to me because of their widespread adoption across many platforms but I had never made a point to learn much about them.</p>
<p>Now that I am learning many open source technologies I've come to find them extremely valuable. More recently I began broadening my skill-set to include more web technologies; I've been learning to use HTML, CSS, JavaScript, Python, PHP, and MySQL.</p>
<p>On my blog you'll find more recent activity on my adventures. You can also find me on github at <a href="http://www.github.com/gmiller2007">http://www.github.com/gmiller2007</a>. Thanks for reading!</p>

</article>
{% endblock %}
