{% extends "base.html" %}

{% block content %}

<div class="blogpost">
<header>
    <h3>{{ post.title }}</h3>
    <p class="postdate">
        <i>{{ post.created }}</i>
    </p>
    <p class="posttags">
        {% for tag in post.tags.all %}<a href="/archive/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}{% empty %}No categories{% endfor %}
    </p>
</header>

{{ post.body|safe }}
</div>

<div class="comments" id="disqus_thread"></div>
<script type="text/javascript">
    //Disqus js will go here
</script>

{% endblock %}

{% block includes %}
    <script type="text/javascript" src="http://www.cheddarcode.com/media/js/shCore.js"></script>
    <script type="text/javascript" src="http://www.cheddarcode.com/media/js/shBrushPython.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    <link type="text/css" rel="stylesheet" href="http://www.cheddarcode.com/media/css/shCoreDefault.css"/>
{% endblock %}
