{% extends "base.html" %}

{% block content %}

<div class="sample">
    <div class="thumb">
        <a href="http://www.github.com/gmiller2007/ContactTracker">
        <img src="http://www.cheddarcode.com/g/img/thumb_contacttracker.png">
        <div id="caption">See on Github</div>
        </a>
    </div>
    <h3>Contact Tracker</h3>
    <p>This site is a tool I wrote while at Wallace and Pancher, Inc. to track landowners that we contacted regarding property permission for field work. At the time all records were kept in paper causing inter-office communication problems and scaling issues. I made a website where we could establish profiles for landowners and attach information to them. This site uses PHP, MySQL, Twitter bootstrap, and a little bit of jQuery and jQueryUI.</p><br>
    <p>See a live instance of it <a href="http://www.cheddarcode.com/p/ex13/search.php?q=Miller">here</a>.</p>
</div>

<div class="sample">
    <div class="thumb">
        <a href="http://www.github.com/gmiller2007/PHP-Stream-Mapping">
        <img src="http://www.cheddarcode.com/g/img/thumb_streammap.png">
        <div id="caption">See on Github</div>
        </a>
    </div>
    <h3>Stream Mapping</h3>
    <p>This site was built to visualize data for information that Wallace and Pancher, Inc. collected. It is an automation of very labor intensive paper layouts that had been historically used. The site is written in PHP and uses the html5 canvas and a JavaScript mapping library called Leaflet. It uses Twitter bootstrap and Postgres, however I migrated it later to MySQL.</p><br>
    <p>See a live instance of it <a href="http://www.cheddarcode.com/p/ex12/">here</a>.</p>
</div>

<div class="sample">
    <div class="thumb">
        <a href="http://www.github.com/gmiller2007/gae-imageboard">
        <img src="http://www.cheddarcode.com/g/img/thumb_imgboard.png">
        <div id="caption">See on Github</div>
        </a>
    </div>
    <h3>Google App Engine Imageboard</h3>
    <p>This site is an imageboard where users may upload and share images with one another. This site was built with Python and Google App Engine. The data is stored using Google Storage Engine, a NoSQL database. I used Jinja2 for the templating on this site.</p><br>
    <p>See a live instance of it <a href="http://gm-img.appspot.com/">here</a>.
</div>

<div class="sample">
    <div class="thumb">
        <a href="http://www.github.com/gmiller2007/cheddarcode-g">
        <img src="http://www.cheddarcode.com/g/img/thumb_blog.png">
        <div id="caption">See on Github</div>
        </a>
    </div>
    <h3>Blog</h3>
    <p>This very website runs on Django, and was one of my earliest adventures into Python's web development ecosystem. Django provides a very nice MVC-style architecture, which helped to cleanly and quickly prototype my site. I use a third party application to handle metatags called <i>Taggit</i>.
</div>

<div class="sample">
    <div class="thumb">
        <a href="http://www.github.com/gmiller2007/Rotation-encryption">
        <img src="http://www.cheddarcode.com/g/img/thumb_rotencrypt.png">
        <div id="caption">See on Github</div>
        </a>
    </div>
    <h3>Rotation Encryption</h3>
    <p>This script was a learning experience on data types and object-oriented programming in Python. I made a first version and then revised it about a month later, making sure to include my early critiques. Text is entered, broken into 8 character chunks, and transformed to a multidimensional list of the ASCII binary values of each character. The multidimensional list is viewed as a square; the output is an interpretation of that same square rotated by 90 degrees. The lists are then concatenated, regrouped, and packaged back into 8 character chunks, giving an encrypted version of the original text.</p>
</div>
{% endblock %}
