{% extends "base.html" %}

{% block resume %}
class="current"
{% endblock %}

{% block content %}

<div id="resume">
<article class="top">
	<em>Download the <a href="http://www.cheddarcode.com/g/LGabrielMiller_301.pdf">PDF</a> version</em><hr>
    <strong>Webpage:</strong> <a href="http://www.cheddarcode.com/g">http://www.cheddarcode.com/g</a><br>
	<strong>Email:</strong> <a href="mailto:gmiller2007@gmail.com">gmiller2007@gmail.com</a><br>
	<strong>Phone:</strong> (412) 689 - 1047<br>
	</p>
</article>


<h3>Objective</h3>
	<article class="first">
      Seeking challenging, team oriented, goal driven employment that utilizes information sciences</h4>
	</article>

<h3>Skills</h3>
  <article class="first">
	<h4>Experienced user of:</h4>
	<ul>
	<li>Windows, Mac, Linux(Command-line and graphical)</li>
	<li>ESRI ArcGIS 9.3.1 and 10, ArcPad 7 and 10, Trimble Pathfinder Office, ENVI</li>
	<li>Microsoft Access, Word, Excel, and Powerpoint and LibreOffice/OpenOffice products</li>
	<li>HTML, CSS</li>
	<li>Python</li>
	<li>MySQL</li>
	<li>Adobe Photoshop, Illustrator, InDesign, Flash</li>
	</ul>
	<h4>Currently studying:</h4>
	<ul>
	<li>PHP, Javascript, Python, CakePHP, Nodejs</li>
	</ul>
</article>

<h3>Education</h3>
	<article class="first">
		<header>
			Graduated May 2011
		</header>
		<h4>Bachelor of Arts in Environmental Studies</h4>
		<ul>
			<li>Geographic Information Systems Certificate</li>
			<li>University of Pittsburgh, Pittsburgh, PA</li>
			<li>3.446 / 4.0 GPA</li>
		</ul>
	</article>


	<h3>Experience</h3> 
	<article class="first">
		<header>
			Waynesburg, PA // June 2011 - Present
		</header>
		<h4>GIS Technician II at <a href="http://www.wallacepancher.com">Wallace & Pancher, Inc.</a></h4>
		<ul>
			<li>Digitize data to the company's GIS</li>
			<li>Provide data quality control and assurance</li>
			<li>Create maps and GIS layers for client and internal use</li>
			<li>Manage Trimble GPS units for field worker use</li>
			<li>Post-process GPS data</li>
			<li>Provide technical and GIS assistance to co-workers and clients</li>
			<li>Maintain data collection systems for remote stream characteristing monitoring</li>
			<li>Develop stream rating curves</li>
	 		<li>Manage greenhouse gas monitoring database and generate periodic reports</li>
		</ul>
	</article>

	
	<article>
		<header>
			Pittsburgh, PA // January - April 2011
		</header>
		<h4>Undergraduate Researcher at <a href="http://www.pitt.edu/~dbain/home.html">Daniel J. Bain Research Group</a></h4>
		<ul>
			<li>Studied soil formation with a neural network approach using TOPMODEL variables</li>
			<li>Collected and created geospatial datasets</li>
			<li>Devised and sampled soil at chosen sites as part of a GPS campaign</li>
			<li>Interpolated soil formation factors</li>
			<li>Analyzed soil types for contributing genesis factors</li>
		</ul>
	</article>

	<article>
		<header>
			Pittsburgh, PA // July - September 2010
		</header>
			<h4>Undergraduate Researcher at <a href="http://www.tonsorlab.pitt.edu/">Stephen J. Tonsor Ecology Laboratory</a></h4>
			<ul>
				<li>Planted, monitored, and cared for research plants</li>
				<li>Recording data on plants' physical characteristics</li>
				<li>Organized and cleaned the laboratory</li>
				<li>Inventoried the lab's seeds</li>
			</ul>
	</article>

	<article>
		<header>
			Pittsburgh, PA // May - September 2010
		</header>
			<h4>Laborer at <a href="http://www.growpittsburgh.org/growpittsburgh/Projects/BraddockFarms">Braddock Farms</a></h4>
			<ul>
				<li>Assisted in regular farm tasks</li>
				<li>Constructed a greenhouse and an irrigation system</li>
			</ul>
	</article>

	<article>
		<header>
			Gwynedd, PA // September 2006 - August 2007 and May - August 2008
		</header>
		<h4>Busser at <a href="http://www.williampenninn.com/">William Penn Inn</a></h4>
		<ul>
			<li>Assisted in regular farm tasks</li>
			<li>Constructed a greenhouse and an irrigation system</li>
		</ul>
	</article>
  
	<h3>Relevant Coursework</h3>
	<article class="first">
	<ul>
		<li><em>Geographic Information Systems and Remote Sensing</em> courses covered GIS applications methods, mapping techniques, images analysis and processing, and geospatial data manipulation and interpretation. Datums, projections, and GPS techniques were explored and further utilized in field-work.</li>
		<li><em>Statistics</em></li>
		<li><em>Communication for Environmental Professionals</em></li>
		<li><em>Physical Geology, Global Climate and Environment, and Environmental Geochemistry</em> courses covered geological and meteorological science. Human interaction with the environment was a major focus. Coursework involved creating computer atmospheric models, examining water quality data, and interpreting geological phenomena.</li>
		<li><em>Risk Sciences</em> covered public-health topics, predominantly risk assessment and response. These included both environmental and chronic risks.</li>
		<li><em>Biology 1 and 2, and General Chemistry</em> courses covered fundamental biological processes, lab techniques, and scientific inquiry.</li>
	</ul>
	</article>

	<h3>Accomplishments</h3>
	<article class="first">
	<ul>
		<li>Dean's List Fall 2010, Spring 2010, Fall 2009, Fall 2008</li>
		<li>Promoted to a GIS Technician II at Wallace & Pancher, Inc. after 6 months</li>
		<li>Completed 2009 Pittsburgh Marathon in top 8%</li>
		<li>Volunteered in a successful removal of invasive species of Water Chestnut from Lake Delmont in Marlborough, PA</li>
		</ul>
	</article>

	<h3>References</h3>
	<article class="first">
	Available upon request
	</article>
</div>

{% endblock %}
