<aside>
    <h2>About Me</h2>
    <p>Read about my adventures learning web software! I am interested in most things web development and open source. I'm a user of Python, PHP, and Javascript. Here's hoping I pique your curiosity! <a href="/g/">(read more)</a></p>
    <p>Follow my projects at <a href="http://www.github.com/gmiller2007">github.com/gmiller2007</a></p>
    <h2>Categories</h2>
    <ul>
        {% for tag in tags %}
        <li><a href="/g/blog/tag/{{tag}}">{{tag}}</a></li>
        {% endfor %}
    </ul>

    <script type="text/javascript" src="http://www.cheddarcode.com/g/js/jquery.easing.js"/></script>
    <script type="text/javascript" src="http://www.cheddarcode.com/g/js/jquery.collapse.js"/></script>

    <script type="text/javascript">

    //All thanks go out to Kent Safranski over at
    //http://www.fluidbyte.net for this jquery expanding and collapsing list script

            $(function(){
                $('#collapser').jqcollapse({
                   slide: false,
                   speed: 1000,
                   easing: false 
                });
            });

    </script>

    <h2>Archives</h2>
    <ul id="collapser">
        {% regroup archives by created|date:"Y" as postyears %}
            {% for created in postyears %}
                <li>{{ created.grouper }}
                <ul>
                {% regroup created.list by created|date:"F" as postmonths %}
                    {% for created in postmonths %}
                    <li>{{ created.grouper }}
                    <ul>
                        {% for object in created.list %}
                        <li><a class="archivelink" href="/g/blog/post/{{ object.slug }}">{{object.title}}</a></li>
                        {% endfor %}
                    </ul></li>
                    {% endfor %}
                </ul></li>
            {% endfor %}
    </ul>
</div>
</aside>
