* {padding:0; margin:0;}
html,
body {height:100%;}
ul {list-style:none;}
p {font-size: 1.4em; line-height:1.5em;}
a {text-decoration:none; color:blue;}
a :hover {text-decoration:underline;}
body {background: #fdfdf8; font-family:sans-serif;}
h2 {font-size:1.6em; margin-bottom:12px;}
#header,
#content_wrapper,
#footer {max-width:960px;}
#page_wrapper {min-height:100%; height:auto !important; height:100%; margin-bottom:-35px;}
#header,
#content_wrapper,
#footer {padding-left: 8px; padding-right:8px; margin:0 auto;}
#header_color {background-color:#333;}
#header {padding-bottom:5px;}
@media (min-width: 800px){
    #header {height:34px;}
    #header p {float: left;}
    #navigation {float:right;}
    #navigation li {display:inline;}
    #navigation li a {padding:5px 25px 0 25px;}
    #navigation li.current a {background:url(images/nav_current.png) center bottom no-repeat; text-decoration:none;}
}
@media (max-width: 800px){
    #header {height:151px;}
    #header p {float: none;}
    #navigation {float: left;}
    #navigation li {display:block;}
    #navigation li a {padding:5px 0px 0 0px;}
    #navigation li.current a {background:none; text-decoration:underline;}
}
#header p {display:block; font:bold 2.1em serif; white-space:nowrap;}
#header p a {color:#fff; text-decoration:none;}
#header p a:hover {text-decoration:underline;}
#navigation a {color:#ccc;}
#navigation li {font-size:1.2em;}
#navigation li a {display:block; text-decoration:none; float:left; line-height:30px; height:34px;}
#navigation li a:hover {color:#fff; text-decoration:underline;}
#navigation li.current a {color:#fff;}
#content_color {padding-top:18px; clear:both; border-top:5px solid #66CD00;}
#content_wrapper a:hover {text-decoration:underline;}
ul#tags li {display:inline; margin:5px;}
.largeimg {overflow:auto}
.post header {margin-bottom:.2em;}
h3 {font-size:1.4em; color:#333; margin-bottom:0px;}
.post {margin-bottom:20px;}
.post ul {font-size:1.2em; line-height:32px; padding-left:20px;}
.post .postinfo {color:#777; font-size:1em;}
.post p {font-size:1.4em;}
h4 {font-size:1.4em; color:#333;}
.post h2 {display:block; font-size:1.8em; color:#000;}
.post a:hover {text-decoration:underline;}
#footer_spacer,
#footer {height:35px; font-size:1.4em; font-weight:700;}
.sample h3:hover,
.sample p:hover {background-color:#dce7fb;}
.sample {clear:both; min-height:140px;}
.sample + .sample {margin-top:16px; border-top: 1px dotted #666; padding-top:16px;}
.caption{font-size:1.3em; text-align: center; margin: 6px 0px 0px 0px; font-style:italic;}
.thumb {float: left; padding: 0px 25px; background-color:#fdfdf8;}
.sample a:hover {text-decoration:underline;}
aside ul ul {margin-left: .1em;}
ul#collapser li,
ul#collapser li ul li {line-height:1.8em; background:url(images/ulli.png) left .7em no-repeat; padding:0 0 0 1em; display:block; color:#777; float:left; width:100%; text-align:left;}
